@font-face {
  font-family: 'Fira_Sans_font';
  src: url("../fonts/FiraSansCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira_Sans_font';
  src: url("../fonts/FiraSansCondensed-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira_Sans_font';
  src: url("../fonts/FiraSansCondensed-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Fira_Sans_font';
  src: url("../fonts/FiraSansCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.el-reset-bg-bd {
  background: none;
  border: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Fira_Sans_font;
  font-size: 14px;
  line-height: 17px;
  color: #222;
}

.lending-section-bg {
  margin-bottom: 80px;
}

.lending-section-bg__container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 496px;
  padding: 128px 95px;
  position: relative;
}

.lending-section-bg__title {
  pointer-events: none;
}

.lending-section-bg__content {
  max-width: 350px;
}

.lending-section-bg__descr {
  color: #F9F9F9;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  margin: 25px 0 55px;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 25px;
}

.header__logo-descr {
  font-family: Fira_Sans_font;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222;
  position: relative;
}

.header__logo-descr::before {
  content: '';
  height: 2px;
  width: 70%;
  background-color: #666666;
  position: absolute;
  right: 0;
  top: -5px;
}

.header__right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 8px;
}

.logo {
  display: block;
}

.header-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-form__select {
  border: none;
  text-transform: uppercase;
  padding: 0 15px 0 18px;
  border-left: 2px solid #FF8D05;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/icons/icon-arrow.svg);
  background-position: center right;
  background-repeat: no-repeat;
}

.header-form__btn {
  text-transform: uppercase;
}

.form-search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-column-gap: 16px;
  position: relative;
}

.form-search:hover .form-search__search {
  width: 249px;
  border-bottom: 2px solid #222222;
  position: static;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.form-search__search {
  border: none;
  width: 0;
  position: absolute;
  left: -9990px;
}

.form-search__btn {
  border: none;
  width: 24px;
  height: 24px;
  background: url(../images/icons/icon-search.svg);
  background-size: cover;
}

.map {
  position: relative;
}

.map:hover .map__window {
  left: -210px;
  width: 350px;
  height: auto;
  overflow: visible;
  opacity: 1;
  z-index: 1000;
}

.map__btn {
  text-transform: uppercase;
}

.map__window {
  text-align: center;
  background: #fff;
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 68px;
  padding: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.map__descr {
  margin: 16px 0 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
}

.map__countrys-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}

.map__country-btn--open {
  color: #007DB8;
}

.nav {
  margin-top: 20px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
}

.nav__link {
  color: #222;
  font-family: Fira_Sans_font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__link:hover {
  color: #007DB8;
}

.slider__list {
  position: relative;
  z-index: 10;
}

.slider__list::before {
  content: "";
  height: 2px;
  width: 256px;
  background: #FF8D05;
  position: absolute;
  z-index: 200;
  left: 350px;
  bottom: 79px;
}

.slider__list::after {
  content: "";
  width: 2px;
  height: 80px;
  background: #FF8D05;
  position: absolute;
  right: 15px;
  bottom: 5px;
  z-index: 200;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.slider__part {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
}

.slider__title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  color: #222;
}

.slider__descr {
  margin: 24px 0 57px;
  padding-right: 10px;
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-top: 33px;
}

.slider__pagination-btn {
  border: none;
  width: 63px;
  height: 3px;
  background: #fff;
}

.slider__pagination-btn--active {
  background: rgba(102, 102, 102, 0.28);
}

.btn {
  width: 232px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
  color: #222;
  -webkit-box-shadow: 0px 4px 4px #E6E6E6;
          box-shadow: 0px 4px 4px #E6E6E6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-light {
  border: 3px solid #222;
  background: #fff;
}

.btn-light:hover {
  color: #666666;
  border-color: #666666;
}

.btn-light:active {
  border-color: #666666;
  color: #666666;
}

.btn-blue {
  border: none;
  color: #F9F9F9;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #007DB8;
}

.btn-blue:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 102, 102, 0.2)), to(rgba(102, 102, 102, 0.2))), #007DB8;
  background: linear-gradient(0deg, rgba(102, 102, 102, 0.2), rgba(102, 102, 102, 0.2)), #007DB8;
  color: #F9F9F9;
}

.btn-blue:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(102, 102, 102, 0.2)), to(rgba(102, 102, 102, 0.2))), #007DB8;
  background: linear-gradient(0deg, rgba(102, 102, 102, 0.2), rgba(102, 102, 102, 0.2)), #007DB8;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #F9F9F9;
}

.btn-white {
  color: #F9F9F9;
  background: rgba(196, 196, 196, 0.06);
  border: 2px solid #F9F9F9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-white:hover {
  border-color: 2px solid #F9F9F9;
  background: #F9F9F9;
  color: #222;
}

.btn-white:active {
  background: #F9F9F9;
  color: #F9F9F9;
  border-color: #F9F9F9;
}

.products {
  background: #e5e5e5;
  padding: 96px 0 32px;
  position: relative;
}

.products__conteiner {
  position: relative;
}

.products::after {
  content: url(../images/header-bg.jpg);
  max-width: 40%;
  height: auto;
  right: 0;
  top: 32px;
  position: absolute;
}

.contacts {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 250;
}

.contacts__inner {
  position: absolute;
  top: 64px;
  right: 0;
}

.contacts__checkbox {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  overflow: hidden;
}

.contacts__checkbox:checked ~ .contacts__open {
  right: 0;
}

.contacts__checkbox:checked ~ .contacts__roll {
  right: -140px;
}

.contacts__roll {
  text-align: center;
  padding: 12px;
  background: #007DB8;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 250;
}

.contacts__descr {
  color: #F9F9F9;
}

.contacts__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 569px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  right: -600px;
  -webkit-transition: .5s;
  transition: .5s;
}

.contacts__left {
  background: #007DB8;
  padding: 24px 21px 16px;
  max-width: 315px;
}

.contacts__title {
  margin-bottom: 39px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #E6E6E6;
}

.contacts__country {
  color: #E6E6E6;
}

.contacts__tel {
  color: #E6E6E6;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  margin: 9px 0;
}

.contacts__tel-descr {
  color: #E6E6E6;
  margin-bottom: 32px;
}

.contacts__link {
  color: #C4C4C4;
  text-align: center;
}

.contacts__link:hover {
  text-decoration: underline;
}

.contacts__link:active {
  color: #FF8D05;
}

.contacts__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 33px 24px 27px;
  background: #E6E6E6;
  max-width: 254px;
}

.contacts__chat {
  padding-left: 38px;
  background: url(../images/icons/icon-chat.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.contacts__chat-start {
  color: #007DB8;
}

.contacts__chat-start:hover {
  text-decoration: underline;
}

.contacts__mail {
  margin-bottom: 15px;
  padding-left: 38px;
  background: url(../images/icons/icon-mail.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.contacts__mail-start {
  color: #007DB8;
}

.contacts__mail-start:hover {
  text-decoration: underline;
}

.section-title--dark {
  color: #222;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.section-title--dark:hover {
  color: #666666;
}

.section-title--white {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #F9F9F9;
}

.section-title--white:hover {
  color: #666666;
}

.categories {
  background: #222;
}

.categories__title-inner {
  margin: 48px auto 55px;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 49px;
}

.categories__item {
  width: 118px;
}

.categories__link {
  color: #E6E6E6;
}

.categories__link:hover > .categories__name {
  color: #666666;
}

.categories__link:hover > .categories__icon {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.categories__icon {
  height: 72px;
  width: 76px;
  margin-bottom: 23px;
  background: url(../images/icons/icon-categories.svg);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.categories__icon--warmly {
  background-position: -36px center;
}

.categories__icon--atom {
  background-position: -124px center;
}

.categories__icon--water {
  background-position: -221px center;
}

.categories__icon--prom {
  background-position: -313px center;
}

.categories__icon--service {
  background-position: -404px center;
}

.categories__name {
  color: inherit;
  text-align: center;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  max-width: 920px;
}

.new__date {
  display: block;
  margin-bottom: 16px;
}

.new__title {
  display: inline;
  float: left;
  font-weight: bold;
  margin-right: 5px;
}

.new__title:hover > .new__title-link {
  color: #C4C4C4;
}

.new__title-link {
  color: #222;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.new__categories-item {
  display: inline;
  margin-left: 5px;
}

.new__categories-link {
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  -webkit-transition: .3s;
  transition: .3s;
}

.new__categories-link:hover {
  color: #C4C4C4;
}

.news__title {
  margin-bottom: 40px;
}

.news__list {
  gap: 24px;
}

.about__container {
  margin-bottom: 15px;
  background: url(../images/info-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: -25px;
  background-position-x: right;
}

.about__title {
  margin: 10px auto 32px;
}

.about__descr {
  max-width: 718px;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 40px;
}

.about__link {
  margin-bottom: 79px;
}

.about__list {
  gap: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 199px;
          flex: 1 0 199px;
  background: url(../images/info-ln.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.about__item:last-child {
  background: none;
}

.about__item-text {
  max-width: 199px;
  font-size: 18px;
  line-height: 22px;
}

.about__span {
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
}

.footer {
  background: #222;
  padding: 65px 0 41px;
}

.footer__conteiner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top {
  border-bottom: 1px solid #666666;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__menu {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 34px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer__nav-items {
  margin-bottom: 24px;
}

.footer__nav-title {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  padding-bottom: 6px;
  margin-bottom: 27px;
}

.footer__nav-title:hover .footer__link--title {
  border-bottom: 1px solid #E6E6E6;
}

.footer__link--title {
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__link {
  color: #C4C4C4;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__link:hover {
  border-bottom: 1px solid #C4C4C4;
}

.footer__nav-title > .footer__link {
  color: #E6E6E6;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 33px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 252px;
          flex: 1 0 252px;
  margin: -10px 0 -10px;
}

.footer__logo {
  width: 194px;
}

.footer__tel {
  color: #C4C4C4;
}

.footer__tel-link {
  color: #E6E6E6;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__tel-link:hover {
  border-bottom: 1px solid #E6E6E6;
}

.footer__info {
  color: #C4C4C4;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.social__link {
  display: block;
  height: 52px;
  background: url(../images/icons/icon-social.png);
  background-repeat: no-repeat;
  background-position-y: -97px;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  overflow: hidden;
}

.social__link--tw {
  width: 60px;
  background-position-x: -58px;
}

.social__link--fb {
  width: 28px;
  background-position-x: -142px;
}

.social__link--inst {
  width: 55px;
  background-position-x: -192px;
}

.social__link--youtube {
  width: 55px;
  background-position-y: -100px;
  background-position-x: -267px;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.lending-section-margin {
  margin-bottom: 80px;
}

.projects__container {
  background-image: url("../images/projects-bg.jpg");
}

.vacansies__container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url("../images/vac-bg.jpg");
}

.vacansies__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 232px;
}

.vacansies__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.subscription__container {
  background-image: url("../images/benefit-bg.jpg");
}

.subscription__contacts-inner {
  top: 127px;
  right: 0;
}
/*# sourceMappingURL=style.css.map */