.map {
    position: relative;
    &:hover .map__window {
        left: -210px;
        width: 350px;
        height:auto;
        overflow: visible;
        opacity: 1;
        z-index: 1000;
    }

    &__btn {
        text-transform: uppercase;
    }


    &__window {
        text-align: center;
        background: #fff;
        position: absolute;
        left: -9999px;
        width: 0;
        height: 0;
        overflow: hidden;
        top: 68px;
        padding: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity 0.5s;
    }

    &__descr {
        margin: 16px 0 13px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: $gray-dark;
    }
    &__countrys-list {
        display: flex;
        justify-content: center;
        gap: 13px;
    }

    &__country-btn--open {
        color: $brand_color;
    }
  }
  
  