.column {
    display: flex;
    flex-direction: column;
}

.lending-section {
    margin-bottom: 80px;
}

.section-title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.el-reset-bg-bd {
    background: none;
    border: none;
}