$brand_color: #007DB8;
$accent_color: #FF8D05;
$error-color: #B80000;
$success_color: #00B834;
$black: #222;
$gray-dark: #666666;
$gray:#C4C4C4;
$gray-light:#E6E6E6;
$white:#F9F9F9;

$margin-section:80px;
