@import 'fonts';
@import 'vars';
@import 'set';
@import 'blocks/lending-section-bg';
@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/header-form';
@import 'blocks/form-search';
@import 'blocks/map';
@import 'blocks/nav';
@import 'blocks/slider';
@import 'blocks/button';
@import 'blocks/products';
@import 'blocks/contacts';
@import 'blocks/title-section';
@import 'blocks/categories';
@import 'blocks/new';
@import 'blocks/news';
@import 'blocks/about';

* {
    font-family: Fira_Sans_font;
    font-size: 14px;
    line-height: 17px;
    color: $black;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.lending-section-margin {
    margin-bottom: 80px;
}

.projects {
    &__container{
        background-image: url("../../images/projects-bg.jpg");
    }
}

.vacansies{

    &__container{
        justify-content: flex-end;
        background-image: url("../images/vac-bg.jpg");
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 232px;
    }

    &__title{
        align-self: flex-start;
    }
}

    .subscription{

        &__container {
            background-image: url("../images/benefit-bg.jpg");
        }

        &__contacts-inner{
            top: 127px;
            right: 0;
        }
    }
    
    












